.container {
    background-color: rgb(153, 229, 132);
    margin: 5%;
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image {
    margin: 1rem 1rem;
    /* width: 50vw; */
    /* border: white solid 5px; */
    justify-content: center;
    /* float: left; */
}