.component {

  background-color: lightskyblue;
  padding-top: 1rem;
}

.imageContainer {
  /* flex: 1; */
  float: left;
  margin: 5px;

}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;

}

.textContainer {
  flex: 1;
}

.header {
  font-family: Raleway;
  font-size: 2rem;
}

.text {
  font-family: Raleway;
  font-size: 1.7rem;
  padding: 5px;
}

.additionalText {
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: 300;
 padding: 0;
 margin: 30px 20px;
}