.component {
  display: flex;
  flex-direction: row;
  background-color: lightskyblue;
 padding-top: 1rem;
 font-size:  16px;
}

.imageContainer {
    flex: 1;
    margin: 5px;

  }
  
  .textContainer {
    flex: 1;
    margin-left: 1rem;
  
  }
 
  .header {
    font-family: Raleway;
    font-size: 3rem;
  }
  
  .text {
    font-family: Raleway;
    font-size: 3rem;
    padding: 5px;
  }
  
  .additionalText {
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
  }
  