
.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
  width: 100vw;
  align-items: space-around;
  background-color: whitesmoke;
}

h1 {
  margin: 0;
  font-size: 4vw;
}

a {
  all: unset;
}
.button {
  background: #ffdab9;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 1.5vw;
  padding: 1em 1em;
  text-decoration: none;
  margin: 0.3rem;
  border: none;
  width: 25vw;
  transition: 0.3s ease-in;
}

.button:hover {
  background-color: #ffc28c;
  font-weight: bolder;
}