.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: auto;
  align-items: center;
  background-color: white;
}

.text {
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
}

.title {
  padding-top: 2rem;
}
.quote {
  width: 60vw;
}

.button {
    background: rgb(74, 74, 241);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 5vw;
    /* padding: .5em .5em; */
    text-decoration: none;
    margin: 2rem;
    border: none;
    width: 60vw;
    height: 15vh;

  }
  
  .button:hover {
    background-color: rgb(1, 20, 196);
    font-weight: bolder;
  }