@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.container {
  text-align: center;
  background-color: cornflowerblue;
}

.image {
  /* Define any specific styles for the image */
}

.text {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
}

.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 10px;
}