.container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0px;
  height: auto;
  /* align-items: left; */
  background-color: rgb(130, 185, 240);
}

h2 {
  font-size: 1.4rem;
}

.form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 10px;
  margin: 2% 10%;
  height: auto;
  align-items: center;
  background-color: rgb(26, 128, 230);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  margin-bottom: 10px;
  background-color: rgb(228, 232, 236);
  width: 50vw;
}

.text {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1rem;
  color: black;
  margin: 0;
  padding: 0.5rem;
  margin-left: 12%;
  margin-right: 12%;
}

.formText {
  /* display: flex;
    align-items: center;
    justify-content: left; */
  font-size: 0.8rem;
  color: black;
  /* padding: 0.5rem; */
  margin-left: 12%;
  margin-right: 12%;
}

.offering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background: rgb(14, 14, 240);
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 2.5vh;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: none;
  width: 40vw;
  height: 10vh;
}

.button:hover {
  background-color: rgb(1, 20, 196);
  font-weight: bolder;
}
