.imageContainer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

ul ul {
    margin-left: 20px;
}
