.imageContainer {
  margin: 0;

  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.container {
  margin: 0;
  padding: 1vw;
  background-color: rgb(180, 148, 172);
  color: white;
  display: flex row;
  justify-content: center;
}

.title {
  font-size: 4rem;
  font-weight: 400;
}

.text {
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.book {
  font-style: italic;
  margin-left: 10vw;
  margin-right: 10vw;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.list {
  font-size: 1rem;
  line-height: 0.5rem;
  margin-left: 12vw;
}

.text {
  display: flex;
  justify-content: center;
}
.button {
  background: #0784f2;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-family: Arial;
  font-size: 2rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  margin: 0.5rem 0.5rem;
}

.button:hover {
  background-color: #2309eb;
  font-weight: bolder;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
}
