.container {
    background-color: rgb(227, 74, 241);
    margin: 0;
    padding: 10px 5vw;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    align-content: left;
}

.heading {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    color: black;
    margin: 10px;
}

.text {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: black;
    margin: 0;
}
.dates {
    font-family: "Raleway", sans-serif;
    font-size: 1.25rem;
    color: black;
    margin: 0;
}
