.container {
    background-color: rgb(227, 74, 241);
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    align-content: left;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.heading {
    font-family: "Glory", sans-serif;
    font-size: 3rem;
    color: black;
    padding: 0.5em;
    margin: 0;
}

.text {
    font-family: "Aboreto", cursive;
    font-size: 1.5rem;

    color: black;
    padding: 0.5em;
    padding-left: 6rem;
    margin: 0;
}
.dates {
    font-family: "Aboreto", cursive;
    font-size: 1rem;
    color: black;
    padding: 0.5em;
    padding-left: 6rem;
    margin: 0;
}
