.container {
    background-color: transparent;
    margin: 0px 5%;
    padding: 0;
    padding-bottom: 2rem;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
