.container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* height: 200vh; */
    align-items: space-around;
    /* background-color: black; */
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),url("../../content/assets/AndTheyTraveled.jpg");
    background-position: bottom center;
    background-repeat: repeat;
    background-size: cover;
    /* opacity: 0.2; */
}

h1, h2 {
    margin: 1rem;
}

.button {
    background: rgb(74, 74, 241);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 3vw;
    text-decoration: none;
    margin: 0.3rem;
    border: none;
    width: 40vw;
    height: 5vh;
  }

  .button:hover {
    background-color: rgb(1, 20, 196);
    font-weight: bolder;
  }


.messageTop {
    color: white;
    align-items: center;
    margin: 0;
    min-width: 0;
    min-height: 0;
}

.message {
    color:white;
    width: 90vw;
    text-align: center;
    padding: 1rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1em;
}

ol {
    margin-left: 10vw;
    text-align: left; 
    list-style-position: outside;
}
