.background {
  background-color: #8c93f6;
}

.message {
  margin: 0 1rem;
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 1em 1em;
}

.pageHeading {
  margin-bottom: 2rem;
}
 
.buttonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form {
  margin: 0.5rem 0.5rem;
}

.button {
	background: #8cf6ef;
	border-radius: 8px;
	cursor: pointer;
	color: black;
	font-family: Arial;
	font-size: 2rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  border: none;
  box-shadow: 0px 8px 15px rgba(0,0,0, 0.3);
  transition: all 0.3s ease;
  outline: none;
  width: 320px;
}

.button:hover {
  background-color:#55fdf2;
  box-shadow: 0px 8px 15px rgba(0,0,0, 0.7);
}

.button:active {
	position:relative;
	top:1px;
}