* { 
    box-sizing: border-box;
  }
  
  .container {
    background-color: lightcyan;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
  }

.row {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;

}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.image {
    margin: 0 1rem;
    width: 40rem;
    border: none;
    float: left;
}

.text {
    font-size: 1.0em;
    color: black;
    padding: 0.5em;
    margin: 0;
}

.quote {
    width: 60vw;
}

.button {
    background: rgb(74, 74, 241);
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    margin: 0.3rem;
    border: none;
}

.button:hover {
    background-color: rgb(1, 20, 196);
    font-weight: bolder;
}
